body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aliceblue;
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
p {
  margin: 0px !important;
}
a {
  text-decoration: none;
}
html,
.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.custom-color {
  background-color: beige;
}
.fs-7 {
  font-size: 0.7rem;
}
.hero-banner {
  max-width: 100%;
  /* max-height: 90%; */
}

.fs-0 {
  font-size: 3rem;
}

.hero-title {
  font-family: "Abril Fatface", serif;
  font-style: normal;
}
.btn-custmer {
  background-color: transparent;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
}
.testTorsim {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
.photo {
  flex-direction: column;
}
.hover-text {
  background-color: rgb(0 0 0 / 79%);
  color: rgb(251, 246, 246);
  transition: 0.5s;
  font-family: "Abril Fatface", serif;
  font-style: normal;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.fixeds {
  position: fixed;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.403);
  z-index: 10000000;
}

/* laoding  */
/* Butterfly loader created by WerlynDev in Uiverse.io*/
.loaderxd {
  position: fixed;
  right: 0%;
  top: 0%;
  left: 0%;
  bottom: 0%;
  width: 100%;
  z-index: 10000;
  background-color: rgb(255, 252, 252);
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  position: absolute;
  width: 9px;
  height: 9px;
}

.spinner div {
  position: absolute;
  width: 50%;
  height: 150%;
  background: #000000;
  transform: rotate(calc(var(--rotation) * 1deg))
    translate(0, calc(var(--translation) * 1%));
  animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
}

.spinner div:nth-child(1) {
  --delay: 0.1;
  --rotation: 36;
  --translation: 150;
}

.spinner div:nth-child(2) {
  --delay: 0.2;
  --rotation: 72;
  --translation: 150;
}

.spinner div:nth-child(3) {
  --delay: 0.3;
  --rotation: 108;
  --translation: 150;
}

.spinner div:nth-child(4) {
  --delay: 0.4;
  --rotation: 144;
  --translation: 150;
}

.spinner div:nth-child(5) {
  --delay: 0.5;
  --rotation: 180;
  --translation: 150;
}

.spinner div:nth-child(6) {
  --delay: 0.6;
  --rotation: 216;
  --translation: 150;
}

.spinner div:nth-child(7) {
  --delay: 0.7;
  --rotation: 252;
  --translation: 150;
}

.spinner div:nth-child(8) {
  --delay: 0.8;
  --rotation: 288;
  --translation: 150;
}

.spinner div:nth-child(9) {
  --delay: 0.9;
  --rotation: 324;
  --translation: 150;
}

.spinner div:nth-child(10) {
  --delay: 1;
  --rotation: 360;
  --translation: 150;
}

@keyframes spinner-fzua35 {
  0%,
  10%,
  20%,
  30%,
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    transform: rotate(calc(var(--rotation) * 1deg))
      translate(0, calc(var(--translation) * 1%));
  }

  50% {
    transform: rotate(calc(var(--rotation) * 1deg))
      translate(0, calc(var(--translation) * 1.5%));
  }
}
/* end of loader */

.bg-lainer {
  background: rgb(221, 221, 221);
  background: linear-gradient(
    90deg,
    rgba(221, 221, 221, 0.7792366946778712) 0%,
    rgba(123, 154, 197, 1) 100%
  );
}
.word-spacing {
  word-spacing: 10px; /* Adjust the value as needed */
}
.z-index-2 {
  z-index: 10px;
}

.profile {
  position: relative;
  height: 30vw;
  /* width: 75vw; */
  max-height: 30rem;
  /* max-width: 40rem; */
}
.profile .profile-img {
  height: 80vw;
  max-height: 45rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.profle {
  overflow: hidden;
  position: relative;
  height: 30rem;
}

.profile-img {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  bottom: 0%;
  right: 0%;
}

.div-caard {
  max-height: 69.2vh;
  overflow-y: auto;
  background: rgba(245, 245, 245, 0.679);
  box-shadow: 0 4px 30px rgba(246, 246, 246, 0.842);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
  -index: 50000000;
}
.cartOpenClass {
  overflow: hidden;
}
@media (max-width: 575px) {
  .image-conainter,
  .arriveImg {
    display: none;
  }
  .hidden-none {
    display: none !important;
  }
  .show-filter {
    display: flex !important;
  }
  .input-conainter {
    width: 100% !important;
  }
  .div-caard {
    max-height: 66vh;
  }
  .showw {
    display: flex !important;
  }
  .filter {
    /* From https://css.glass */
    background: none !important;
    box-shadow: none !important;
    backdrop-filter: none !important;
    -webkit-backdrop-filter: none !important;
  }

  .background-login {
    background-image: none !important;
    background-color: rgb(255, 255, 255) !important;
    overflow: hidden;
  }

  .hero-title {
    font-size: 2rem !important;
    font-family: "Abril Fatface", serif;
    font-style: normal;
  }

  .text-s {
    font-size: 0.9rem !important;
  }

  .prodact-imgsing {
    height: 300px;
    width: 80%;
  }
}

.bg-whitee {
  background: rgba(255, 250, 250, 0.607);
  box-shadow: 0 4px 30px rgba(246, 246, 246, 0.842);
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(6.3px);
}
.text-s {
  font-size: 0.7rem !important;
}

.custim-height {
  height: 65px;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 12%;

  height: fit-content;
}
.filter {
  /* From https://css.glass */
  background: rgba(130, 72, 72, 0.21);
  box-shadow: 0 4px 30px rgba(246, 246, 246, 0.441);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
}
.filternav {
  background: rgba(245, 245, 245, 0.679);
  box-shadow: 0 4px 30px rgba(246, 246, 246, 0.842);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
}
/* login */
.form {
  background-color: #fff;
  display: block;
  padding: 1rem;
  max-width: 350px;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.input-container {
  position: relative;
}

.input-container input,
.form button {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

.input-container input {
  background-color: #fff;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 300px;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.submit {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #4f46e5;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.signup-link {
  color: #6b7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.signup-link a {
  text-decoration: underline;
}
.search-inputs {
  outline: none;
  background-color: none;
  border: none;
}



/* Select function */
.position-fixedd {
  position: fixed;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  height: 100%;
  background: rgba(245, 245, 245, 0.679);
  box-shadow: 0 4px 30px rgba(246, 246, 246, 0.842);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
  z-index: 50000000;
}
